// _general.scss] ******/

body {
    font-family: var(--RobotoFlex);
    margin: 0;
    padding: 0;
    * {
        box-sizing: border-box;
    }
}
p {
    max-width: 720px;
    margin: 0 auto;
    @include paragraph;
}
h2 {
    @include h2Title;
}
