/* 
!! Gestion => COULEURS 
 */
@function lightness-shift($color) {
    @if (lightness($color) < 25%) {
        @return lighten($color, 10%);
    } @else {
        @return darken($color, 10%);
    }
}

/*Gère parfaitement le mélange ALPHA SI RVB EST FOURNIS => VOIR rvb-calculator
Utilisation : 
background-color: blend-colors($color-primary, black, 50%);
*/
@function blend-colors($color1, $color2, $weight) {
    @return mix($color1, $color2, $weight);
}

/*Gère très mal le mélange ALPHA
Utilisation : 
background-color: rvb-calculator($color-primary, yellow, 30);
*/
@function rvb-calculator($color1, $color2, $weight) {
    $weight: math.div($weight, 100); // Utilisation de math.div pour la division
    $red1: red($color1);
    $green1: green($color1);
    $blue1: blue($color1);
    $alpha1: alpha($color1);
    $red2: red($color2);
    $green2: green($color2);
    $blue2: blue($color2);
    $alpha2: alpha($color2);

    $red: $red1 + ($red2 - $red1) * $weight;
    $green: $green1 + ($green2 - $green1) * $weight;
    $blue: $blue1 + ($blue2 - $blue1) * $weight;
    $alpha: $alpha1 + ($alpha2 - $alpha1) * $weight;

    @return rgba($red, $green, $blue, $alpha);
}

@function rgba-color($color, $alpha) {
    $alpha: max(0, min(1, $alpha));

    // Convertir la couleur en RVB
    $red: red($color);
    $green: green($color);
    $blue: blue($color);

    // Retourner la couleur RVB avec l'alpha
    @return rgba($red, $green, $blue, $alpha);
}

@function invert-rgba($color) {
    $r: 255 - red($color);
    $g: 255 - green($color);
    $b: 255 - blue($color);
    $a: alpha($color);

    @return rgba($r, $g, $b, $a);
}

$background-color: #f2f2fc;
$text-color: #ec1839; // Utilisation de la variable CSS --my-colorText avec une valeur de secours #000 en cas d'absence

// Fonction pour calculer la luminosité
@function calculate-brightness($color) {
    @return calc(
        (
            (red($color) * 299) + (green($color) * 587) + (blue($color) * 114) /
                1000
        )
    );
}

$background-brightness: calculate-brightness($background-color);

// Définissez une luminosité de seuil pour basculer le contraste
$threshold-brightness: 128;

// Ajustez le contraste en fonction de la luminosité de l'arrière-plan
$adjusted-contrast: if(
    $background-brightness < $threshold-brightness,
    lighten($text-color, 20%),
    darken($text-color, 20%)
);

// Utilisez la couleur ajustée pour le texte
.text {
    color: $adjusted-contrast;
}
