
.services {
    .card_bg {
    }
    h2.card_title {
        justify-content: flex-start;
    }
    .segment {
        .card_header {
            height: auto;
            img.srv-img_typo {
                width: $width-card_header;
                height: 83px;
            }
            img.srv-img_lesson {
                margin-top: 12px;
                width: 288px;
                height: 265px;
            }
        }
        .card_content {
            height: calc(360px + 82px);
            p {
            }
        }
    }
}
